# Archivos y carpetas de Eclipse
.classpath
.project
.settings/

# Directorios de compilación
bin/
build/
target/

# Archivos compilados de Java
*.class

# Archivos temporales / logs
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db